In [1]:
from strucpara.processing import ZpAgent
import pandas as pd
rootfolder = '/home/ytcdata/x3dna_data'

### Part 1: Initialize

In [7]:
host = 'pnas_rna'
type_na = 'arna+arna'
n_bp = 16
time_interval = '0_1us' # '0_1us', '1_2us', '2_3us', '3_4us', '4_5us'
bp_agent = ZpAgent(rootfolder, host, time_interval, type_na, n_bp)

/home/ytcdata/x3dna_data/pnas_rna exists
/home/ytcdata/x3dna_data/pnas_rna/0_1us exists

### Part 3: Extract BasePair Parameters

In [8]:
bp_agent.extract_parameters()

/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/pnas_rna/0_1us/arna+arna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/pnas_rna/0_1us/zp.dat

### Part 4: Convert dat to csv

In [9]:
bp_agent.convert_dat_to_csv()

Dataframe to csv: /home/ytcdata/x3dna_data/pnas_rna/0_1us/zp.csv

### Batch Run

In [2]:
hosts = ['tgtg_21mer', 'ctct_21mer']
time_intervals = ['0_1us', '1_2us', '2_3us', '3_4us', '4_5us']
type_na = 'bdna+bdna'
n_bp = 21
for host in hosts:
    for time_interval in time_intervals:
        bp_agent = ZpAgent(rootfolder, host, time_interval, type_na, n_bp)
        bp_agent.extract_parameters()
        bp_agent.convert_dat_to_csv()

/home/ytcdata/x3dna_data/tgtg_21mer exists
/home/ytcdata/x3dna_data/tgtg_21mer/0_1us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/zp.csv
/home/ytcdata/x3dna_data/tgtg_21mer exists
/home/ytcdata/x3dna_data/tgtg_21mer/1_2us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/tgtg_21mer/1_2us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/tgtg_21mer/1_2us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/tgtg_21mer/1_2us/zp.csv
/home/ytcdata/x3dna_data/tgtg_21mer exists
/home/ytcdata/x3dna_data/tgtg_21mer/2_3us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/tgtg_21mer/2_3us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/tgtg_21mer/2_3us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/tgtg_21mer/2_3us/zp.csv
/home/ytcdata/x3dna_data/tgtg_21mer exists
/home/ytcdata/x3dna_data/tgtg_21mer/3_4us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/tgtg_21mer/3_4us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/tgtg_21mer/3_4us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/tgtg_21mer/3_4us/zp.csv
/home/ytcdata/x3dna_data/tgtg_21mer exists
/home/ytcdata/x3dna_data/tgtg_21mer/4_5us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/tgtg_21mer/4_5us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/tgtg_21mer/4_5us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/tgtg_21mer/4_5us/zp.csv
/home/ytcdata/x3dna_data/ctct_21mer exists
/home/ytcdata/x3dna_data/ctct_21mer/0_1us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/ctct_21mer/0_1us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/ctct_21mer/0_1us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/ctct_21mer/0_1us/zp.csv
/home/ytcdata/x3dna_data/ctct_21mer exists
/home/ytcdata/x3dna_data/ctct_21mer/1_2us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/ctct_21mer/1_2us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/ctct_21mer/1_2us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/ctct_21mer/1_2us/zp.csv
/home/ytcdata/x3dna_data/ctct_21mer exists
/home/ytcdata/x3dna_data/ctct_21mer/2_3us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/ctct_21mer/2_3us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/ctct_21mer/2_3us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/ctct_21mer/2_3us/zp.csv
/home/ytcdata/x3dna_data/ctct_21mer exists
/home/ytcdata/x3dna_data/ctct_21mer/3_4us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/ctct_21mer/3_4us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/ctct_21mer/3_4us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/ctct_21mer/3_4us/zp.csv
/home/ytcdata/x3dna_data/ctct_21mer exists
/home/ytcdata/x3dna_data/ctct_21mer/4_5us exists
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/ctct_21mer/4_5us/bdna+bdna.ensemble.out -p 65 -o /home/ytcdata/x3dna_data/ctct_21mer/4_5us/zp.dat
Dataframe to csv: /home/ytcdata/x3dna_data/ctct_21mer/4_5us/zp.csv

### Test

In [10]:
df = pd.read_csv('/home/ytcdata/x3dna_data/pnas_rna/0_1us/zp.csv', index_col='Frame-ID')
df

,bp1_bp2,bp2_bp3,bp3_bp4,bp4_bp5,bp5_bp6,bp6_bp7,bp7_bp8,bp8_bp9,bp9_bp10,bp10_bp11,bp11_bp12,bp12_bp13,bp13_bp14,bp14_bp15,bp15_bp16
Frame-ID,,,,,,,,,,,,,,,
1,2.84,2.64,2.12,2.07,1.65,1.74,2.18,2.69,2.30,2.28,1.98,1.89,2.02,2.11,1.61
2,1.88,2.43,2.72,2.32,2.00,1.70,2.38,2.76,2.84,3.18,2.93,2.35,1.87,2.41,2.21
3,1.70,2.05,2.13,1.89,2.41,2.51,2.81,2.94,2.67,1.74,1.33,1.88,1.88,2.70,3.09
4,2.73,2.47,2.77,2.65,2.34,2.13,2.23,2.71,2.63,1.99,1.42,1.36,1.32,2.23,2.80
5,2.58,2.77,2.39,1.91,1.52,1.51,2.51,2.46,2.46,2.53,1.57,2.02,2.03,2.61,2.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,2.36,2.71,3.07,2.38,2.47,2.19,2.37,3.02,2.48,2.13,0.72,1.96,2.60,2.69,2.55
9998,2.51,2.18,2.78,2.87,2.58,2.15,2.49,2.49,2.31,1.78,1.29,1.77,1.64,2.09,2.58
9999,2.86,2.74,2.84,3.17,2.63,1.37,1.54,2.20,2.24,2.07,1.76,2.16,1.80,1.91,2.26
10000,2.69,2.08,2.92,3.03,2.66,2.03,2.51,2.54,2.18,2.13,1.78,1.20,1.98,2.32,1.88
10001,2.96,2.76,2.94,2.66,1.42,1.32,2.13,2.12,2.03,2.35,1.94,1.92,1.80,2.34,1.87

### Additional Part 1: Clean all the dat file

In [ ]:
bp_agent.clean_dat_files()