In [1]:
from strucpara.processing import BaseStepAgent
import pandas as pd
rootfolder = '/home/ytcdata/x3dna_data'

### Part 1: Initialize

In [21]:
host = 'g_tract_21mer'
time_interval = '0_1us' # '0_1us', '1_2us', '2_3us', '3_4us', '4_5us'
bp_agent = BaseStepAgent(rootfolder, host, time_interval)

/home/ytcdata/x3dna_data/g_tract_21mer exists
/home/ytcdata/x3dna_data/g_tract_21mer/0_1us exists

### Part 2: Download bdna+bdna.ensemble.out from server

In [22]:
server_ip = '140.113.120.131'
bp_agent.download_ensesmble_out(server_ip)

Please excute the following in the terminal:
scp yizaochen@140.113.120.131:/home/yizaochen/x3dna/paper_2021/g_tract_21mer/0_1us/bdna+bdna.ensemble.out /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/bdna+bdna.ensemble.out

### Part 3: Extract BasePair Parameters

In [23]:
bp_agent.extract_parameters()

/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/bdna+bdna.ensemble.out -p shift -o /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/shift.dat
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/bdna+bdna.ensemble.out -p tilt -o /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/tilt.dat
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/bdna+bdna.ensemble.out -p slide -o /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/slide.dat
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/bdna+bdna.ensemble.out -p roll -o /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/roll.dat
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/bdna+bdna.ensemble.out -p rise -o /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/rise.dat
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/bdna+bdna.ensemble.out -p twist -o /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/twist.dat

### Part 4: Convert dat to csv

In [24]:
bp_agent.convert_dat_to_csv()

Dataframe to csv: /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/shift.csv
Dataframe to csv: /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/tilt.csv
Dataframe to csv: /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/slide.csv
Dataframe to csv: /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/roll.csv
Dataframe to csv: /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/rise.csv
Dataframe to csv: /home/ytcdata/x3dna_data/g_tract_21mer/0_1us/twist.csv

### Test

In [4]:
df = pd.read_csv('/home/ytcdata/x3dna_data/tgtg_21mer/0_1us/shift.csv', index_col='Frame-ID')
df

,bp1_bp2,bp2_bp3,bp3_bp4,bp4_bp5,bp5_bp6,bp6_bp7,bp7_bp8,bp8_bp9,bp9_bp10,bp10_bp11,bp11_bp12,bp12_bp13,bp13_bp14,bp14_bp15,bp15_bp16,bp16_bp17,bp17_bp18,bp18_bp19,bp19_bp20,bp20_bp21
Frame-ID,,,,,,,,,,,,,,,,,,,,
1,0.75,0.79,0.82,0.18,0.82,-1.01,2.02,-1.75,1.72,-0.92,1.51,-1.37,1.52,-1.74,2.66,-0.58,2.23,-1.04,1.89,0.90
2,0.33,-0.80,1.01,-0.65,1.16,-1.62,2.12,-1.06,1.90,-0.77,1.37,-0.04,0.68,-0.61,2.08,-1.10,1.70,-1.27,2.64,2.39
3,0.76,1.10,0.45,-1.20,1.66,-1.23,1.38,-0.43,1.86,-0.68,0.84,-1.11,0.94,-0.25,1.99,-0.56,0.89,-1.94,1.95,0.27
4,1.28,0.33,0.89,-0.26,1.35,-0.85,1.34,-1.13,1.62,-0.88,0.95,-0.49,1.26,0.29,0.04,-0.69,2.09,-1.82,1.03,-1.50
5,1.41,0.67,-0.04,-0.53,1.78,-1.19,1.20,-1.01,1.81,-1.87,1.81,-0.17,1.11,-0.33,0.59,-1.23,1.37,-0.47,0.08,-1.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,1.83,-0.51,-0.45,-0.60,0.71,-1.08,1.31,0.63,1.30,-1.10,1.17,-0.31,2.09,-1.84,1.04,-0.29,1.88,-0.87,0.14,2.65
9998,4.57,-0.49,-0.32,-0.34,0.62,-0.45,0.67,-0.77,0.69,-0.99,1.06,-0.31,1.38,-1.61,1.26,-0.68,1.80,-0.35,-0.18,3.11
9999,1.83,-1.22,-1.49,0.54,-0.42,-0.31,1.95,-1.40,0.61,-0.53,2.50,-1.28,2.52,0.10,1.30,-1.07,1.00,-0.55,-0.94,1.99
10000,4.51,-0.06,-0.18,0.73,0.49,-0.84,0.78,-1.24,0.09,-1.04,1.84,-0.73,1.51,-0.35,1.46,-1.28,2.18,-1.05,-1.51,1.45
10001,4.55,-1.14,-0.49,-0.42,0.70,-0.10,2.00,-0.50,0.27,-0.02,3.00,-0.58,2.19,-1.24,1.98,-0.74,0.88,0.81,-0.44,2.59

### Additional Part 1: Clean all the dat file

In [ ]:
bp_agent.clean_dat_files()