In [1]:
from strucpara.processing import GrooveAgent
import pandas as pd
rootfolder = '/home/ytcdata/x3dna_data'

### Part 1: Initialize

In [22]:
host = 'tgtg_21mer'
time_interval = '0_1us' # '0_1us', '1_2us', '2_3us', '3_4us', '4_5us'
bp_agent = GrooveAgent(rootfolder, host, time_interval)

/home/ytcdata/x3dna_data/tgtg_21mer exists
/home/ytcdata/x3dna_data/tgtg_21mer/0_1us exists

### Part 2: Download bdna+bdna.ensemble.out from server

In [23]:
server_ip = '140.113.120.131'
bp_agent.download_ensesmble_out(server_ip)

Please excute the following in the terminal:
scp yizaochen@140.113.120.131:/home/yizaochen/x3dna/paper_2021/tgtg_21mer/0_1us/bdna+bdna.ensemble.out /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/bdna+bdna.ensemble.out

### Part 3: Extract BasePair Parameters

In [24]:
bp_agent.extract_parameters()

/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/bdna+bdna.ensemble.out -p major_gw_pp -o /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/major_gw_pp.dat
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/bdna+bdna.ensemble.out -p major_gw_refined -o /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/major_gw_refined.dat
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/bdna+bdna.ensemble.out -p minor_gw_pp -o /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/minor_gw_pp.dat
/home/yizaochen/opt/x3dna-v2.3/bin/x3dna_ensemble extract -f /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/bdna+bdna.ensemble.out -p minor_gw_refined -o /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/minor_gw_refined.dat

### Part 4: Convert dat to csv

In [25]:
bp_agent.convert_dat_to_csv()

Dataframe to csv: /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/major_gw_pp.csv
Dataframe to csv: /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/major_gw_refined.csv
Dataframe to csv: /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/minor_gw_pp.csv
Dataframe to csv: /home/ytcdata/x3dna_data/tgtg_21mer/0_1us/minor_gw_refined.csv

### Test

In [5]:
df = pd.read_csv('/home/ytcdata/x3dna_data/a_tract_21mer/0_1us/minor_gw_pp.csv', index_col='Frame-ID')
df

,label1,label2,label3,label4,label5,label6,label7,label8,label9,label10,label11,label12,label13,label14,label15,label16,label17,label18,label19,label20
Frame-ID,,,,,,,,,,,,,,,,,,,,
1,na,na,11.4,11.6,11.7,10.4,8.7,10.3,11.3,10.0,9.6,10.4,10.6,11.3,12.8,12.0,10.8,11.3,na,na
2,na,na,10.5,11.0,10.7,9.9,9.8,10.0,10.5,9.7,9.5,10.2,10.3,11.8,12.0,10.9,10.6,10.2,na,na
3,na,na,11.0,10.2,10.0,10.3,9.9,9.2,9.4,9.8,9.9,10.6,11.1,11.0,10.7,10.0,9.9,10.3,na,na
4,na,na,10.8,10.8,10.1,9.4,9.4,10.4,10.4,9.0,9.1,10.2,10.2,9.7,10.0,10.3,11.1,11.6,na,na
5,na,na,10.8,10.1,9.7,9.5,9.3,9.2,9.7,9.8,9.8,10.7,11.2,9.9,9.5,10.4,11.0,10.9,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,na,na,10.3,11.4,12.8,13.8,12.7,10.2,9.1,10.1,10.7,9.6,9.5,10.0,9.9,9.3,9.7,11.4,na,na
9998,na,na,10.2,11.1,13.2,13.8,12.1,11.0,10.6,9.6,9.5,11.2,11.3,10.1,10.1,10.1,9.4,10.0,na,na
9999,na,na,11.5,12.3,14.3,13.3,12.2,12.4,11.5,10.2,9.2,10.4,11.7,10.1,9.0,9.5,9.7,10.0,na,na
10000,na,na,11.7,10.3,11.3,13.6,13.7,12.1,10.3,9.9,10.4,10.4,10.1,9.9,10.5,10.1,9.4,11.4,na,na
10001,na,na,12.5,11.7,12.7,13.1,13.5,13.3,10.3,9.3,10.8,11.1,10.1,9.5,9.9,9.6,9.7,9.6,na,na

### Additional Part 1: Clean all the dat file

In [ ]:
bp_agent.clean_dat_files()